@font-face {
  src: url("../dist/sources/fonts/agane-light.ttf");
  font-family: aganeLight;
}
@font-face {
  src: url("../dist/sources/fonts/agane-semiBold.ttf");
  font-family: aganeSemiBold;
}
@font-face {
  src: url("../dist/sources/fonts/agane-bold.ttf");
  font-family: aganeBold;
}
@font-face {
  src: url("../dist/sources/fonts/agane-extraBold.ttf");
  font-family: aganeExtraBold;
}
@font-face {
  src: url("../dist/sources/fonts/monserrat-bold.ttf");
  font-family: monserratBold;
}
@font-face {
  src: url("../dist/sources/fonts/monserrat-medium.ttf");
  font-family: monserratMedium;
}
h1, h2, h3 {
  font-family: aganeExtraBold;
  color: #555358;
}

h1 {
  text-transform: uppercase;
}

.titreH1.-blanc {
  color: white;
}
.titreH1.-noir {
  color: #555358;
}

h2 {
  margin-left: 9.5vw;
  margin: 2.5rem 0 3.75rem 9.5vw;
  font-family: aganeSemiBold;
  font-size: 1.875rem;
}

p, ul:not(.sub-menu):not(.site__header__menu):not(.site__footer__menu) {
  font-family: aganeLight;
  font-size: 1rem;
}

p, p[class*=has-text-align-right], p[class*=has-text-align-center], p[class*=has-text-align-left] {
  font-family: aganeLight;
  font-size: 1rem;
  width: 50vw;
  margin: 0.625rem auto;
  text-align: justify;
}

p[class*=has-text-align-center] {
  text-align: center;
}

ul:not(.sub-menu):not(.site__header__menu):not(.site__footer__menu) {
  width: 50vw;
  margin: auto;
}

@media screen and (max-width: 768px) {
  ul:not(.sub-menu):not(.site__header__menu):not(.site__footer__menu) {
    width: 75vw;
  }
}
.wp-block-button {
  background-color: #ed6a5a;
  border: none;
  border-radius: 0.1875rem;
  padding: 0.625rem;
  margin: 1.875rem 0 !important;
  font-family: monserratMedium;
  color: white;
}
.wp-block-button a {
  text-decoration: none;
  color: white;
  background-color: unset;
}
.wp-block-button:hover {
  background-color: #9bc1bc;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 0.625rem 0;
}
.header .custom-logo {
  width: 10.9375rem;
}
.header .site__header__menu {
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  font-family: monserratMedium;
}
.header .site__header__menu .menu-item {
  font-size: 1.25rem;
  list-style: none;
  background-color: white;
  padding: 0.625rem 0;
}
.header .site__header__menu .menu-item a {
  color: #555358;
  text-decoration: none;
  display: inline-block;
}
.header .site__header__menu .sub-menu {
  background-color: white;
  box-shadow: 0px 0px 0.625rem #e8e8e8;
  position: absolute;
  display: none;
}
.header .site__header__menu .sub-menu li {
  border: 1px solid #e8e8e8;
}
.header .site__header__menu .sub-menu li a {
  font-size: 0.875rem;
  padding: 0 0.625rem;
  color: #f52946;
  text-decoration: none;
}
.header .site__header__menu .sub-menu li:hover {
  cursor: pointer;
}
.header .site__header__menu .sub-menu li:hover a {
  color: #9bc1bc;
}

@media screen and (max-width: 992px) {
  .header #menu-menu-header {
    position: absolute;
    top: 4.5625rem;
    flex-direction: column;
  }
  .header #menu-menu-header li {
    text-align: center;
    display: none;
  }
  .iconHamburger {
    display: block;
  }
  .iconHamburger:hover {
    cursor: pointer;
  }
  .iconHamburger img {
    width: 1.875rem;
  }
}
@media screen and (min-width: 992px) {
  .iconHamburger {
    display: none;
  }
}
.bandeau.-accueil {
  height: 100vh;
}
.bandeau.-accueil h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 6.25rem;
  padding: 0 15vw;
  line-height: 8.75rem;
}
.bandeau.-accueil h2 {
  color: white;
  text-align: center;
  font-size: 2.3125rem;
  margin: 0;
}
.bandeau.-accueil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bandeau.-base {
  height: 12.5rem;
  margin-bottom: 4.375rem;
}
.bandeau.-base img {
  width: 100%;
  height: 14.0625rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.bandeau.-base .titreBandeau {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.bandeau.-base .titreBandeau h1 {
  display: inline-block;
  background-color: rgba(25, 25, 25, 0.6);
  padding: 1.25rem 1.25rem;
}
.bandeau img {
  position: absolute;
  z-index: -2;
}

@media screen and (max-width: 992px) {
  .bandeau.-accueil h1 {
    font-size: 3.125rem;
    line-height: 4.375rem;
  }
  .bandeau.-accueil h2 {
    color: white;
    text-align: center;
    font-size: 1.25rem;
  }
}
.actualite {
  display: flex;
  flex-direction: column;
  font-family: aganeLight;
  font-size: 1rem;
}

.actusAccueil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0.3125rem;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3.75rem;
  margin-bottom: 6.25rem;
}
.actusAccueil__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
  color: #555358;
  background-color: #e6ebe0;
}
.actusAccueil__item img {
  width: 25vw;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.actusAccueil__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
  padding: 1.875rem;
}
.actusAccueil__item__content__extrait {
  font-family: aganeLight;
  font-size: 1rem;
}

.contenuActus {
  margin-bottom: 3.125rem;
}

@media screen and (max-width: 992px) {
  .actusAccueil__item {
    width: 39vw;
  }
  .actusAccueil__item img {
    width: 39vw;
    height: 39vw;
  }
}
@media screen and (max-width: 768px) {
  .actusAccueil__item {
    width: 60vw;
  }
  .actusAccueil__item img {
    width: 60vw;
    height: 60vw;
  }
}
.services {
  background-color: #e6ebe0;
  padding: 0.625rem;
}
.services__section {
  display: grid;
  grid-template-columns: repeat(2, 18.75rem);
  grid-row-gap: 1.5625rem;
  grid-column-gap: 3.75rem;
  justify-content: center;
  padding-bottom: 3.125rem;
}
.services__section a {
  text-decoration: none;
}
.services__section__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  padding: 1.875rem;
  width: 18.75rem;
  height: 12.5rem;
  justify-content: center;
  background-color: white;
}
.services__section__item h3 {
  text-align: center;
}
.services__section__item img {
  width: 4.6875rem;
  margin: auto;
}
.services__section__item__description {
  font-family: aganeLight;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .services__section {
    grid-template-columns: repeat(1, 18.75rem);
  }
  .services__section__item img {
    width: 4.6875rem;
  }
}
.wpcf7 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.375rem 0;
}
.wpcf7 .wpcf7-form {
  display: flex;
  flex-direction: column;
}
.wpcf7 .wpcf7-form .wpcf7-response-output {
  text-align: center;
  font-family: aganeBold;
  font-size: 1rem;
}
.wpcf7 .wpcf7-form label {
  font-family: aganeLight;
  font-size: 1rem;
}
.wpcf7 .wpcf7-form input {
  padding: 0.625rem 0;
}
.wpcf7 .wpcf7-form textarea {
  resize: none;
}
.wpcf7 .wpcf7-form input, .wpcf7 .wpcf7-form textarea {
  background-color: #e8e8e8;
  border: none;
  border-radius: 0.3125rem;
  width: 50vw;
}
.wpcf7 .wpcf7-form p {
  display: flex;
  justify-content: center;
}
.wpcf7 .wpcf7-form p .wpcf7-spinner {
  position: absolute;
  margin-top: 3.125rem;
}
.wpcf7 .wpcf7-form p .wp-block-button {
  background-color: #ed6a5a;
  border: none;
  border-radius: 0.1875rem;
  padding: 0.625rem;
  font-family: monserratMedium;
  color: white;
  width: auto;
}
.wpcf7 .wpcf7-form p .wp-block-button a {
  text-decoration: none;
  color: white;
}
.wpcf7 .wpcf7-form p .wp-block-button:hover {
  background-color: #9bc1bc;
  cursor: pointer;
}

.piedDePage {
  background-color: #678984;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 1.25rem 0;
}
.piedDePage__copyright {
  font-family: aganeLight;
  font-size: 1rem;
  color: #e6ebe0;
  width: 100%;
  text-align: center;
  margin-top: 0.9375rem;
  font-size: 0.75rem;
}
.piedDePage .site__footer__menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  font-family: aganeLight;
  font-size: 1rem;
}
.piedDePage .site__footer__menu li a {
  text-decoration: none;
  color: white;
}

.deroulants {
  display: flex;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  justify-content: center;
  margin-top: 3.125rem;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
}
.deroulants__column {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.deroulants__column__item {
  width: 39vw;
}
.deroulants__column__item__headband {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding: 0.9375rem 0.625rem;
  background-color: #e6ebe0;
  font-family: monserratMedium;
  color: #ed6a5a;
  font-size: 0.875rem;
  cursor: pointer;
}
.deroulants__column__item__headband__close {
  display: none;
}
.deroulants__column__item__headband__close, .deroulants__column__item__headband__open {
  width: 1rem;
}
.deroulants__column__item__subContent {
  padding: 1.875rem 3.125rem;
  font-family: aganeLight;
  font-size: 1rem;
  position: absolute;
  visibility: hidden;
  box-shadow: 0px 0px 0.625rem #e8e8e8;
}
.deroulants__column__item__subContent p {
  width: auto;
}

@media screen and (max-width: 992px) {
  .deroulants__column__item {
    width: 70vw;
  }
  .deroulants__column__item__subContent {
    padding: 1.875rem 1.875rem;
  }
}
.evenements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  row-gap: 1.875rem;
}
.evenements__content {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 1.25rem;
  margin-bottom: 2.5rem;
  font-family: aganeLight;
  font-size: 1rem;
}
.evenements__content img {
  width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.evenements__content__texte {
  width: 30vw;
}

@media screen and (max-width: 992px) {
  .evenements h3 {
    text-align: center;
  }
  .evenements__content {
    justify-content: center;
  }
  .evenements__content img {
    width: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .evenements__content__texte {
    width: 50vw;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */